@font-face {
   font-family: 'roboto';
   src: url('../../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../../fonts/Roboto-Bold.ttf') format("truetype"),
        url('../../fonts/Roboto-Bold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: 'roboto';
   src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../fonts/Roboto-Regular.ttf') format("truetype"),
        url('../../fonts/Roboto-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font: normal 16px 'roboto' sans-serif;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    color: rgba(0,0,0,.7);
}
.wrap {
    width: 1170px;
    margin: 0 auto;
}
/*header*/
  .header {
    background-image: url(../../icons/header-bg.jpg);
    background-size: cover;
    padding: 400px 0;
    color: rgba(255,255,255,.7);
    text-align: center;
  }
  .header-text {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 12px;
    border-top: 3px solid rgba(255,255,255,.5);
    border-bottom: 3px solid rgba(255,255,255,.5);
  }

  .header_menu_icon {
    cursor: pointer;
    position: absolute;
    top:20px;
    right: 20px;
    left: auto;
    width: 59px;
    height: 59px;
    background: url(../../icons/button-menu.png) no-repeat;
  }
  .header_menu_icon:hover {
    opacity: .5;
  }

  .my-header_aside {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    text-align: left;
  }

  .my-header-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  .my-header-close:hover {
    opacity: .5;
  }

  .my-header-list-menu {
    list-style: none;
    margin: 80px;
    padding: 20px;
  }

  .my-header-list-menu li {
    margin: 0 0 40px;
  }

a {
  text-decoration: none;
  color: #fff;
   }
a:visited {
    color: #878787; 
   }
a:active {
    color: #7eb7ae;
}


h2 {
  margin: 0 0 20px;
  font-size: 40px;
  font-weight: 600;
  font-family: 'roboto', sans-serif;
}
h3 {
  margin: 0 0 30px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'roboto', sans-serif;
}

/*my information*/
  .my-section {
    padding-top: 110px;
  }
  .my-image {
      display: inline-block;
      vertical-align: top;
      height: 585px;
      width: 470px;
      margin-right:30px;
      font-size: 16px;
      background: url(../../images/man.png) no-repeat;
  }
  .my-info {
      display: inline-block;
      vertical-align: top;
      width: 670px;
      font-size: 16px;
      padding-top: 50px;
  }
  .my-info p {
    margin: 30px 0;
    line-height: 1.75;
  }

  .button-position {
    position: relative;
  }
  .tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left:-10px;
    background-color: #cccccc;
    color: #262626;
    height: 20px;
    width: 200px;
    font-size: 12px;
    border: 1px solid #262626;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    padding: 10px 0;

  }

  .my-info_button{
      min-width: 200px;
      cursor: pointer;
      font-size: 16px;
      color: #fff;
      background: #ff2b4a ;
      border: none;
    text-decoration: none; 
    user-select: none; /* убирать выделение текста */
    background: #ff2b4a; /* фон кнопки */
    border: 0px;
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; 
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
   } 
   .my-info_button:hover { background: #ff697f; 
    opacity: .85;} 
   .my-info_button:active { background: #ff0126; }
  }

  .my-info_button_bg {
      position: relative; 
      left: 100px;
      background: red;
    }

/*Working process*/
  .process-section {
    padding: 120px 0;
    text-align: center;
    background: #f6f6f6;
  }
  .process-section_buttons {
    margin-top: 50px;
    font-size: 0;
  }
  .process-section_item {
    display: inline-block;
    vertical-align: top;
    margin: 0 7px;
    width: 250px;
    height: 250px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }

  .process-section_design {
      background-color: #10c6fc;
        -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
      }
     .process-section_design:hover { background: #89dff9; } 
     .process-section_design:active { background: #006a8a; }


  .process-section_design .process-section_icon {
  background-image: url(../../icons/button_design.png); 
  }
  .process-section_dev {
    background-color: #835aeb;
       -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
  }
   .process-section_dev:hover { background: #9e90c1; } /* при наведении курсора мышки */
 .process-section_dev:active { background: #4e19d6; } 

  .process-section_dev .process-section_icon {
  background-image: url(../../icons/button_development.png); 
  }
  .process-section_test {
    background-color:  #002453;
     -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
  }
 .process-section_test:hover { background: #416088; } /* при наведении курсора мышки */
 .process-section_test:active { background: #01152f; }

  .process-section_test .process-section_icon {
  background-image: url(../../icons/button_testing.png); 
  }
  .process-section_launch {
    background-color: #ff2b4a;
     -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
  }
  .process-section_launch:hover { background: #ff697f; } /* при наведении курсора мышки */
 .process-section_launch:active { background: #ff0126; }

  .process-section_launch .process-section_icon{
  background-image: url(../../icons/button_launch.png); 
  }

  .process-section_icon {
    display: block;
    margin: 70px auto 40px;
    vertical-align: top;
    width: 50px;
    height:50px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  

/*experience*/  
  .experience {
    display: block;
    background: #3c6879 ;
    padding: 120px 0px;
    color: #fff;
    /*text-align: center;*/
  }

      .experience_left-block {
      display: inline-block;
      background: #60667e ;
      margin: 0 7px 0 0;
      width: 515px;
      padding: 60px 30px;
      
  }
  .experience_right-block {
      display: inline-block;
      background: #60667e ;
      margin: 0 0 0 7px;
      width: 515px;
      padding: 60px 30px;
  }
  .content-border{
      border-bottom:1px solid #dadada;
      padding-bottom: 30px;
      margin-bottom: 30px;
  }
  .h3 {
      font-size: 26px;
  }
  .h4 {
      font-size: 18px;
  }

    .pics {
      position: relative;
      display: inline-block;
    border: 5px solid #fff;
    }




/*review*/
  .review {
      background-color: #64cbc0 ;
      padding: 135px 0;
  }
  .review-text {
      max-width: 500px;
      line-height: 28px; 
  }
  .review-text::before {
    content: '';
    display: block;
    margin-bottom: 45px;
    width:58px; 
    height:48px;
    background-image: url(../../icons/quotes.png);
  }

  .review-text::after {
    content: '';
    display: block;
    margin: 45px 0;
    width: 170px;
    height: 66px;
    background-image: url(../../icons/sign.png);
  }
  .review-sign {
    max-width: 500px;
      line-height: 28px; 
  }

/*login form*/
  .login-form {
    padding: 125px 0;
    font-size: 0px;
    background-image: url(../../icons/header-bg.jpg);
    background-size: cover;
  }
  .login-form-column {
    display: inline-block;
    vertical-align: top;
    width: 577px;
    font-size: 16px;
  }
  .login-form-column-left {
    margin-right: 15px;
  }
  .placeh {
   background: transparent; 
   color: #fff;
   width: 300px;
   height: 50px;
   margin-bottom: 15px;
    }

  .placeh::-webkit-input-placeholder {color:#CFCFCF;}
    .placeh::-moz-placeholder          {color:#CFCFCF;}/* Firefox 19+ */
    .placeh:-moz-placeholder           {color:#CFCFCF;}/* Firefox 18- */
    .placeh:-ms-input-placeholder      {color:#CFCFCF;}

    .input1::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
    .input1::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
    .input1:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
    .input1:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
    .input1:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
    .input1:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
    .input1:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
    .input1:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

  .message {
    width: 300px; 
    height:180px;
  }

  .login-form-box {
    background: rgba(93,35,96,.3);
    background: -webkit-linear-gradient(45deg, rgba(93,35,96,0.3) 0%,rgba(158,53,105,0.3) 100%);
    background: linear-gradient(45deg, rgba(93,35,96,0.3) 0%,rgba(158,53,105,0.3) 100%); 
    padding: 47px 40px;
    margin-bottom: 15px;
    color: rgba(255,255,255,.7);
  }
.popup-wrap  {
  display: none;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(56,56,56,.7);
  z-index: 10;
}

.popup {
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -250px;
  background: #fff;
  border-radius: 20px;
 width: 500px;
 padding: 40px;

}
